<!--index presenter for viewing the bubbletea stores.  Lists all entries-->
{% extends "layout.html" %}
{% block content %}
    <h2>Bubbletea</h2>

    <h3>Insert new store <a href="{{ url_for('sign') }}">here</a></h3>
    <h3>Bubbletea Stores:</h3>
    {% for entry in entries %}
        <p class=entry>
	{{ entry.name }}<br>{{ entry.streetAddress }} {{ entry.city }},
	{{ entry.state }}  {{ entry.zipCode }}<br>
	{{ entry.hours }}<br>{{ entry.phone }}<br>{{ entry.rating }}<br>
	{{ entry.review }}<br>{{ entry.drink }}
        </p>
    {% endfor %}

{% endblock %}
