<!--index presenter for viewing the bubbletea stores.  Lists all entries-->
{% extends "layout.html" %}
{% block content %}
    <h2>Bubbletea</h2>
    <h3>Insert another new store <a href="{{ url_for('sign') }}">here</a></h3>
    <h3><a href="{{ url_for('home') }}">home page</a></h3>
    <h3>Bubbletea Stores:</h3>
    {% for entry in entries %}
        <p class=entry>
	<h2 id = "analysis" ><strong>Review analysis: </strong>{{ entry.analysis }}</h2>
	<strong>Store Name: </strong>{{ entry.name }}<br>
	<strong>Address: </strong>{{ entry.streetAddress }} {{ entry.city }},
	{{ entry.state }}  {{ entry.zipCode }}<br>
	<strong>Store Hours: </strong>{{ entry.hours }}<br>
	<strong>Phone Number: </strong>{{ entry.phone }}<br>
	<strong>Your rating: </strong>{{ entry.rating }}<br>
	<strong>Write a review: </strong>{{ entry.review }}<br>
	<strong>Drink recommendation: </strong>{{ entry.drink }}<br>
        </p>
    {% endfor %}

{% endblock %}
